div.auth-form {
	text-align: center;
}

div.auth-form ul.errors {
	list-style: none;
	margin: 0;
	padding: 0;
	color: #a94442;
}

div.auth-form h2 {
	margin-bottom: 40px;
}

div.auth-form input {
	display: block;
	margin: 10px auto;
	max-width: 400px;
}
